*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{
    font-family: 'Montserrat', sans-serif;

 }
p{
    line-height: 30px;
}


/* #region Utilities */

.container{
    width: 80%;
    max-width:1200px;
    margin: auto;
    
}

.container-fluid{
    width: 100%;
    
}

.row{
    display: flex;
    gap: 1rem;
}

.col-1{
    width: calc((100% / 12) * 1);
}

.col-3{
    width: calc((100% / 12) * 3);
}

.col-4{
    width: calc((100% / 12) * 4);
}
.col-5{
    width: calc((100% / 12) * 5);
}
.col-6{
    width: calc((100% / 12) * 6);
}
.col-7{
    width: calc((100% / 12) * 7);
}

.col-9{
    width: calc((100% / 12) * 9);
}

.flex{
    display: flex;
}

.text_center{
    text-align: center;
}



/* #endregion utilities */

/* #region debug */

.debug header{
    background-color: aqua;
}

.debug [class^="col-"]{
    background-color: red;
    border: 2px solid;
}

.debug .container-fluid{
    background-color: blue;
    border: 2px solid;
}

.debug .container{
    background-color: blueviolet;

}

.debug p{
    background-color: green;
}

/* #endregion debug */


/* #region header */


header{
    position: absolute;
    top: 0;
   width: 100%;
}
header > .container{
    padding: 1rem 0;
    
}
header .col-3, header .col-6{
    align-self: center;
}

header a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
    
}

header button{
    background-color: white;
    padding: 0.5rem  0.7rem;
    border: 1px solid;
    border-radius: 30px;
}

header a:hover{
    font-weight: bolder;
}

/* #endregion header */

/* #region main */
main > .container-fluid{
    padding: 1rem;
}

.jumbo{
    text-align: center;
    color: white;
    background-image: url(./img/jumbo.png);
    background-size: cover;
    height: 380px;
}

.jumbo  p{
    margin-top: 40px;
    padding: 20px;
}

.jumbo_text{
    margin-top: 60px;
}
.mac_button{
    background-color: white;
    padding: 0.5rem  0.7rem;
    border: 1px solid white;
    border-radius: 30px;
    margin-right: 10px;
}

#browser_button{
    background-color: black;
    color: white;
    padding: 0.5rem  0.7rem;
    border: 1px solid black;
    border-radius: 30px;
    margin-left: 10px;
}

.col-5{
    flex-direction: column;
    padding: 2rem 0;
}
.col-5 > h2{
    margin-bottom: 1rem;
    font-size: 40px;
}

main .talk_space, main .easy_find, main .fandom, main .mobile_devices{
    margin-top: 7rem;
}
.start_adventure{
    background-image: url(./img/stars.svg) ;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    padding: 1rem;
   
}

#keep_in_touch_down{
    display: block;
    margin: auto;
    background-color: #7289DA;
}


/* #endregion main */

footer{
    background-color: #23272A;
    color: white;
}
 footer h2{
    color: #7289DA;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 30px;
 }

 footer i{
    margin-right: 1.5rem;
    margin-top: 1rem;
 }

.footer_munu{
    flex-direction: column;
    margin-top: 2rem;
    font-size: 15px;
}

.footer_munu span{
    margin-bottom: 1.5rem;
}

.highlighted{
    color: #7289DA;
}

#upfoot{
    border-bottom: 1px solid #7289DA;
}

.lower_footer{
    justify-content: space-between;
    margin-top: 1rem;
}

.register{
    background-color: #7289DA;
    padding: 0.5rem  0.7rem;
    border: 1px solid #7289DA;
    color: white;
    border-radius: 30px;
}

body button:hover{
    font-size: 10px;
}